---
import GithubIcon from '@/components/icons/GithubIcon.astro'
---

<footer class="flex flex-col gap-2 px-5 py-6 mt-auto">
  <div class="flex justify-center">
    <a
      href="https://github.com/Xanderitsme/websocket-game.git"
      target="_blank"
      rel="noreferrer"
      class="p-2
        text-zinc-800 hover:text-zinc-600
        transition-colors"
    >
      <GithubIcon class="w-6 h-6" />
    </a>
  </div>
</footer>
